
*{
  font-family:  monospace, sans-serif;
}
.movieimg{
  max-width: 95%;
  height: 300px;
  font-weight: bold;
}

.title{
  font-size: 18px;
  font-weight: bold;
  color: #535350;
}
#container {
  padding: 5px;
  margin: 5px;
  border: 2px solid gray;

}
h3, 
h2 {
  font-weight: bolder;
  /* color: rgb(6, 6, 158); */
  margin-left: 30px;
}
input {
  width: 40%;
  height: 30px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 7px;
}
.btn,
.btn:focus {
  background-color: rgb(19, 1, 19);
  color: whitesmoke;
  border: rgb(19, 1, 19);
  height: 35px;
  padding: 0 9px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.all-list-wrapper{
  /* background-color: cornflowerblue; */
  display: flex;
}
.movie{
  width: 33%;
}

.movie-list{
  /* background-color: crimson; */
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.nominated-list{
  background-color: #e4e3e2;
  flex: 2;
  border: 3px solid #e6e6de;
}
.nominated-movie{
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid whitesmoke;
  margin-top: 10px;
margin-left: 20px;
padding: 3px ;
}


.action-btn{
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

.nominated-title{
  color: white
}